<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="js/vue.js"></script>
  <script defer src="js/main.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <title>Product App</title>
</head>
<body>
<div id="app">

  <div class="product">

    <div class="product-image">
      <img :src="image" :alt="altText">
    </div>

    <div class="product-info">

      <h1>{{ title }}</h1>

      <div class="stock">
        <p v-if="inventory > 10" :class="{disabledStock: !inStock}">In stock</p>
        <p v-else-if="inventory <= 10 && inventory > 0" :class="{disabledStock: !inStock}">Almost sold out!</p>
        <p v-else :class="{disabledStock: !inStock}">Out of stock</p>
      </div>

      <ul>
        <li v-for="detail in details">{{ detail }}</li>
      </ul>

      <div
              class="color-box"
              v-for="variant in variants"
              :key="variant.variantId"
              :style="{backgroundColor:variant.variantColor}"
              @mouseover="updateProduct(variant.variantImage)"
      >
      </div>

      <div class="sizes" v-for="size in sizes">
        <p>{{size}}</p>
      </div>

      <div class="onSale">
        <span v-show="onSale">SALE!</span>
      </div>

      <div class="link">
        <a :href="link">More products like this</a>
      </div>

      <div class="cart">
        <p>Cart({{ cart }})</p>
      </div>
      <div style="display: flex">
        <button
                class="butt"
                @click="addToCart"
                :disabled="!inStock"
                :class="{ disabledButton: !inStock }"
        >
          Add
        </button>
        <button
                class="butt"
                @click="lessFromCart"
                :disabled="!inStock"
                :class="{ disabledButton: !inStock }"
        >
          Less</button>
      </div>

    </div>
  </div>
</div>

<!--<div id="app">-->
<!--  <h1>{{ product }}</h1><br>-->
<!--  <h2>{{ description }}</h2>-->
<!--</div>-->
</body>
</html>
